/config_*.xml
/translations/*.php
/.php_cs.cache
/*.log
/vendor/
/phpstan-result-cache/
/.php-cs-fixer.cache
/tests/tmp/
/tests/output/
/*.zip
*.tar.gz
/node_modules/
/package-lock.json
/dist/
/build/
